@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Montserrat:400,700);


html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
  /*-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;*/
}
a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    vertical-align: baseline;
}
body::-webkit-scrollbar {
    opacity: 0;
}
body::-webkit-scrollbar-track {
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  opacity: 0;
}

body {
  margin: 0;
  position: relative;
  padding: 0;
  background: #dcdcdc;
  background: radial-gradient(ellipse at center,#f0e9e8 32%,#f0ecec 100%);
  color: rgb(52, 54, 55);
  font-family:'MontSerrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

#container{
  position: inherit;
}
#data_container{
  position: inherit;
  z-index: 1;
  transform:scale(1);
  -webkit-transform:scale(1);
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}


.zoomed{
  margin-left: -5% !important;
  /*transform:scale(1.3) !important;
  -webkit-transform:scale(1.3) !important;*/
  opacity: 0 !important;
}





/*////////////////////////*/
/*///////   MENU   ///////*/
/*////////////////////////*/

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 30px;
  z-index: 1000;
}

.hamburger-menu {
  position: relative;
  right: 30px;
  float:right;
  margin: auto;
  width: 30px;
  height: 38px;
  cursor: pointer;
  z-index: 1000;
}

nav{
  position: absolute;
  display: none;
  right: -180px;
  top: 72px;
  height: 200px;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: right;
  list-style: none;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}
nav li{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  /*background: #f0ecec;*/
  background: white;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.01);
  margin-bottom: 8px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

nav li:hover{
  color: white;
  background: #009E30;
}
nav li:hover a{
  color:white;
}

nav li a:hover{
  text-decoration: none;
}
nav li a{
  color:rgb(52, 54, 55);
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

#nav_about{
  width: 100px;
  margin-left: 60px;
}
#nav_new{
  width: 120px;
  margin-left: 41px;
}

.nav_opened{
  right: 0 !important;
}

.bar,
.bar:after,
.bar:before {
width: 20px;
height: 2px;
}

.bar {
position: relative;
transform: translateY(25px);
background: rgb(21, 30, 41);
transition: all 0ms 300ms;
}
.bar.animate {
background: rgba(255, 255, 255, 0);
}

.bar:before {
content: "";
position: absolute;
left: 0;
bottom: 8px;
background: rgb(21, 30, 41);
transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
content: "";
position: absolute;
left: 0;
top: 8px;
background: rgb(21, 30, 41);
transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
top: 0;
transform: rotate(45deg);
transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
bottom: 0;
transform: rotate(-45deg);
transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*////////////////////////*/
/*//// SHARE PAGE  ///////*/
/*////////////////////////*/

#accessShare_page{
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
}


.accessShare_container{
  z-index: 2000;
  width: 550px;
  padding-bottom: 20px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 18%;
  vertical-align: middle;
  background: white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0,0,0,0.1);
  padding-top: 40px;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

#accessShare_name{
    height: 20px;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.accessShare_button{
  margin-top:0 !important;
  padding: 4px 15px 4px 15px;
  margin-top: 15px;
  background-color: #009E30;
  color: white;
  border-radius:4px;
  border: solid 1px #009E30;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
}

.accessShare_button:hover{
  background-color: white;
  border: solid 1px #009E30;
  color: #009E30;
}


/*////////////////////////*/
/*////////  ABOUT  ///////*/
/*////////////////////////*/


#about_page{
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
}

.page_background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: rgba(219, 219, 219, 0.7);
  cursor: url(../img/close.png),auto;
}

.about_container{
  z-index: 2000;
  width: 550px;
  padding-bottom: 20px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 18%;
  vertical-align: middle;
  background: white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0,0,0,0.1);
  padding-top: 60px;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.about_text{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 40px;
}

.about_instruction{
  text-transform: uppercase;
  color: #949494;
  font-size: 0.8em;
}

.about_me{
  margin-bottom: 2px;
}

#about_page a{
  text-decoration: none;
  color:rgb(106, 106, 106);
  font-family: 'Open Sans';
  font-size: 0.9em;
}

#about_page a:hover{
  opacity: 0.8;
}

/*////////////////////////*/
/*////////  SHARE  ///////*/
/*////////////////////////*/


#share_page{
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
}

.share_container{
  z-index: 2000;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 22%;
  vertical-align: middle;
  background: white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0,0,0,0.1);
  padding-top: 40px;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.share_link{
  margin-top: 20px;
  width: 313px;
  margin-bottom: 30px;
}


.share_close{
  margin-top:30px;
  padding: 4px 15px 4px 15px;
  margin-top: 15px;
  background-color: #009E30;
  color: white;
  border-radius:4px;
  border: solid 1px #009E30;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
}

.share_close:hover{
  background-color: white;
  border: solid 1px #009E30;
  color: #009E30;
}

.share_links{
  list-style: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  padding-left: 0;
}
.share_links li{
  display: inline-block;
}

.share_twitter{
  height: 20px;
  width: 20px;
}
.share_twitter_icon{
  height: 20px;
  width: 20px;
  background: url(../img/icon_twitter.png);
  background-size: cover;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.share_twitter:hover .share_twitter_icon{
  opacity: 1;
}


/*////////////////////////*/
/*////////INIT PAGE///////*/
/*////////////////////////*/


#init_page{
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  background: rgba(219, 219, 219, 0.7);
}

.container_init{
  width: 600px;
  height: 440px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 13.5%;
  vertical-align: middle;
  background: white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0,0,0,0.1);
  padding-top: 30px;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}


.init_logo{
  width: 90px;
  margin: 0 auto;
  height: 90px;
}

.container_init h1{
  margin-top: -5px;
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #6e6e6e;
}

.init_subtitle{
  /*color:#FC4C02;*/
  color:#009E30;
  margin-top: 0;
  margin-bottom: 40px;
}

.init_instruction{
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 0.9em;

}

.init_instruction_column{
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.8em !important;
}
.init_instruction_columns{
  font-weight: 100;
  font-family: 'Open Sans';
  color: rgb(111, 111, 111);
  font-size: 1.2em !important;
}


.container_init form{
  position: relative;
}

.container_init form img{
  position: absolute;
  width: 25px;
  top: 5px;
  left: 130px;
}

input {
  display: block;
  font-family: 'Open Sans', sans-serif;
  width: 240px;
  margin: 13px auto;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  display: block;
  font-size: 1em;
  height: 2.5em;
  line-height: 1.25em !important;
  padding: .1em .625em 0 .625em;
  vertical-align: baseline;

}

input {
  opacity: 0.5;
}

input:hover,
input:focus {
  opacity: .7;
  color: #009E30;
  border: 1px solid rgba(0,0,0,0.1);
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

.init_button{
  margin-top:20px;
  padding: 4px 12px 4px 12px;
  background-color: #009E30;
  color: white;
  border-radius:4px;
  border: solid 1px #009E30;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
}

.init_button:hover{
  background-color: white;
  border: solid 1px #009E30;
  color: #009E30;
}

button:focus,button:active{
  outline: none;
}



@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 20px;
  width: 20px;
  border: 6px solid #009E30;
  border-right-color: transparent;
  border-radius: 50%;
  display: none;
}


.loading-spinner {
  margin: 0 auto;
  margin-top: 40px;
  left: 50%;
}

#init_scale_label{
  display: none;
  margin-top: 30px;
}

.init_scale_list{
  display: block;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 13px;
  list-style: none;
  text-align: center;
}

.init_scale_elem{
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 23px;
}

.init_scale_elem a{
  opacity: 0.8;
  text-decoration: none;
  margin-top:5px;
  padding: 8px 12px 8px 12px;
  background-color: white;
  color: rgba(149, 149, 149,0.8);
  border-radius:4px;
  border: 1px solid #c1c1c1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
}

.init_scale_elem a:hover{
  margin-top: 2px;
  opacity: 1;
}
.init_scale_elem a:active {
  opacity: 1;
  background: rgba(149, 149, 149,0.6);
  color:white;
}


/*////////////////////////*/
/*////////  TITLE  ///////*/
/*////////////////////////*/

#title {
  position: absolute;
  top: 20px;
  left: 60px;
  border-radius: 3px;
  padding: 10px;
}

#title_doc{
  font-size: 1.9em;
  margin-bottom: 0;
}

#title_line{
  width: 80px;
  height: 2px;
  border-top: solid 1px rgba(0,0,0,0.1);
  margin-top: 10px;
}

.positions{
  cursor: pointer;
  font-size: 0.9em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-left: solid 1px rgba(0, 158, 48, 0);
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  overflow: hidden;
  position: relative;
}

.positions:hover{
  border-left: solid 1px #009E30;
}

.positions_clicked{
  border-left: solid 1px #009E30;
  color: white;
}

.positions_background{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -150px;
  width: 100%;
  height: 100%;
  background:#009E30;
  transition: all 0.5s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.4s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.positions_background_clicked{
  left: 0;
}

.country_wrap{
  position: absolute;
  top: 140px;
  left: 70px;
  height: 600px;
  width: 110px;
  overflow: scroll;
}




/*////////////////////////*/
/*//////// DATA    ///////*/
/*////////////////////////*/


#data_wrap{
  position: absolute;
  top: 150px;
  right: 113px;
  width: 200px;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.data_wrap_zoomed{
  right: 10px !important;
  opacity: 0 !important;
}


#data_block_1{
  min-height: 125px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#data_block_2{
  min-height: 125px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.data_wrap_two{
  top: 90px !important;
  transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -webkit-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -moz-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
  -o-transition: all 0.8s cubic-bezier(0.500, -0.010, 0.000, 1.005);
}

.data_block{
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  color: #676666;
  padding-bottom: 20px;
  max-height: 315px;
  overflow: hidden;
  padding-top: 0;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0,0,0,0.1);
  border-top: solid 2px #009E30;
  border-radius: 2px;
  width: 270px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.close_block{
  position: absolute;
  top: 4px;
  right: 6px;
  height: 14px;
  width: 12px;
  background: url(../img/close.png);
  background-size: cover;
}

#data_block_1:hover{
  margin-top: -4px;
  margin-bottom: 34px;
}
#data_block_1:hover .data_block{
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
  -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
  -o-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
}

#data_block_2:hover{
  margin-top: -4px;
}
#data_block_2:hover .data_block{
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
  -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
  -o-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1) , 2px 0 2px 0 rgba(0,0,0,0.1) , 0 2px 2px 0 rgba(0,0,0,0.23);
}



.data_block_title{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.4em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.data_block_list{
  width: 100%;
  margin-top: 0;
  max-height: 271px;
  padding-bottom: 30px;
  overflow-y: scroll;
}

.data_block_elem{
  width: 88%;
  margin: 0 auto;
  border-bottom: solid 1px rgba(145, 145, 145, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.label_data{
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2px;
  text-align: left;
  font-size: 0.8em;
  color:rgb(158, 158, 158);
}

.data_values{
  text-align: left;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
  font-kerning: auto;
}

/*////////////////////////*/
/*//////// CREDITS ///////*/
/*////////////////////////*/


#credit_container{
  position: absolute;
  font-size: 0.9em;
  bottom: 7px;
  right: 20px;
}
.credits_links{
  text-decoration: none;
  color: rgb(156, 156, 156);
  opacity: 1;
}

.credits_links:hover{
  opacity: 0.8;
}
